port=9000
MONGO_URI=mongodb://localhost:27017/medibridge
JWT_SECRET=your_jwt_secret_here
grokapikey=your_groq_or_api_key_here

# For deployment:
FRONTEND_URL=http://localhost:5173
EMAIL_USER=your_dummy_email@example.com
EMAIL_PASS=your_app_password_here
