clientid=
clientsecret=
port=9000
tokenendpoint=https://icdaccessmanagement.who.int/connect/token
scope=icdapi_access
grant=client_credentials
icdendpoint=https://id.who.int/icd/entity
endpointicd=https://id.who.int/icd/release/11/2026-01/mms
mongo_uri=
jwt_secret=
google_client_id=
google_client_secret=
google_refresh_token=
google_user=
grokapikey=